/*
#login{

  display:flex;
  flex-direction: column;
  width:60%;
  margin:auto;
  padding:5px;
}

#connexion{
  margin: auto;

  max-width: 100px;

}

form{
 !* border:1px solid #11808C;
  border-radius:10px;*!
  margin:auto;

}
label{
  margin: 10px;
}
*/
