<div class="jumbotron jumbotron-fluid" *ngIf="isComputing"><img class="display-6" src="assets/computing.gif" alt="computing..." /></div>

<div *ngIf="!isComputing">
    <app-mesi-venue [v]="venueMesi" [displayForms]="true"></app-mesi-venue>

    <div id="commentaires">
    <p *ngFor="let c of venueMesi.commentaires">
        le {{ c.date }}, {{ c.author }} a dit:
        <q>
            {{ c.commentaire }}
        </q>
    </p>
    </div>

    <p *ngIf="commentIsPosted">Votre commentaire a bien été enregistré.</p>

    <form *ngIf="!isPostingComment">
            <div class="form-group">
              <label for="commentaire">Commentaire</label>
              <input [(ngModel)]="newComment" type="text" class="form-control" id="commentaire" name="commentaire" required>
            </div>
            <button (click)="comment()" type="button" class="btn btn-success">Commenter</button>
          </form>
</div>
