<h2>"A propos" : </h2>
<p>
BaBeezy est une application permettant aux familles comprenant des enfants en bas-âge de trouver rapidement un lieu de restauration adapté à leurs besoins.
<br />
Grâce à la géolocalisation, nos utilisateurs peuvent disposer gratuitement d'une liste d’enseignes de proximité disposant de tout l’attirail nécessaire pour le bien-être de bébé : Espace poussette, espace jeu, menu enfant, table à langer (table à langer accessible aux hommes), chaise haute, etc…
  <br />
BaBeezy permet de faire coïncider vie de parent et vie sociale. Elle offre ainsi aux familles la possibilité de profiter pleinement d’un moment de détente tout en réduisant leurs contraintes matérielles ou en  anticipant ces dernières.
</p>

<h2>"Qui sommes-nous ?" :</h2>
<p>
A partir de leur expérience personnelle ou de celle de leur proche, cinq étudiants en école d'informatique se sont interrogés sur comment faire coïncider vie de parent et vie sociale, plus particulièrement lors de leur sortie. En effet, tous les jeunes parents se sont un jour rendu dans un lieu (restaurant, bar, salle de spectacle) où aucune structure adaptée à leur enfant en bas-âge n'était proposée.
  <br />
L'idée de créer l'application BaBeezy répond à ce besoin. Cet outil permet de rechercher gratuitement tous les lieux de sortie de sa ville possédant le matériel nécessaire au bien-être de bébé. Et si bébé est heureux, alors les parents le seront également :wink: Moins de stress, plus de sérénité, BaBeezy vous donne les clés pour profiter d'un véritable moment de détente !
</p>

<h2> "FAQ" : </h2>

<p>
Si votre question ne figure pas dans cette liste ou que vous ne trouvez pas l’information que vous cherchez, n’hésitez pas à nous contacter (contact@BaBeezy .com).
Le service "BaBeezy" est constitué d'une application mobile prochainement accessible sur les plateformes de téléchargement App Store de Google et Apple. La teneur des avis et opinions déposées par les utilisateurs n'engagent pas la responsabilité de BaBeezy.
  <br />
* A qui s’adresse l’application mobile BaBeezy ?
BaBeezy s’adresse aux parents, grands-parents, aux familles et aux amis de parents de bébés de 0 à 4 ans qui souhaitent obtenir des informations concernant l’accès, l‘accueil, les services aux  tous petits dans les établissements qui accueillent le public (restaurants, lieux de loisir et de tourisme) afin de préparer au mieux leurs sorties et de mieux profiter de leurs moments à l’extérieur avec leur(s) enfant(s).  Notre credo : Être parents ne doit pas empêcher de vivre, être bébé ne doit pas empêcher de sortir !
BaBeezy s’adresse également aux professionnels de l’accueil du public qui souhaitent mettre en avant leur volonté d’accueil des petits enfants et de leur famille.
  <br />
* Quelles informations puis-je trouver sur BaBeezy ?
BaBeezy répertorie et évalue grâce à l’activité de membres de sa communauté des établissements d’accueil au public.
  <br />
* L’application mobile BaBeezy est-elle disponible sur mon Iphone ou mon smartphone Android ?
Oui, notre application mobile sera prochainement disponible dans l’App store d’Apple et dans la base d’application GooglePlay. Il n’existe pas encore de version compatible avec smartphones et les tablettes sous Windows Phone.
* L’application BaBeezy est-elle gratuite ?
Oui, le téléchargement et l’utilisation de l’application sont gratuits.
  <br />
* Dois-je m’inscrire pour consulter les fiches des établissements évalués sur le site et l’appli BaBeezy ?
Non, la consultation des évaluations et des informations concernant l’ensemble des établissements et sites évalués est totalement libre et gratuite.
</p>
