<div class="jumbotron jumbotron-fluid" *ngIf="isComputing" xmlns:padding-right="http://www.w3.org/1999/xhtml"
     xmlns:padding-right="http://www.w3.org/1999/xhtml" xmlns:padding-right="http://www.w3.org/1999/xhtml"
     xmlns:padding-right="http://www.w3.org/1999/xhtml"><img class="display-6" src="assets/computing.gif" alt="computing..." /></div>



<p *ngIf="!isComputing && zeroResults">
    Aucun résultat dans ces environs !<br /> Voici les lieux pour lesquels nous n'avons pas d'information, vous pouvez nous aider à les recenser ?
</p>

<p *ngIf="!isComputing && zeroResultsAfterFiltre">
    Aucun résultat ne correspond aux filtres que vous avez entrés, enlevez un filtre pour élargir votre recherche !
</p>

<app-venue-map *ngIf="!isComputing" [venuesBBFriendly]="mesiVenuesBBFriendlyFiltered" [venuesBBNotFriendly]="mesiVenuesBBNotFriendly" [venuesUnknownStatus]="mesiVenuesUnknownStatus"   [displayBBFriendly]="displayBBFriendly" [displayBBNotFriendly]="displayBBNotFriendly"
    [displayUnknownStatus]="displayStatusUnknown">
</app-venue-map>

<form *ngIf="!isComputing && !zeroResults && displayBBFriendly" id="filters" class="d-none d-md-inline">
  <span class="checkboxesFiltres">
  <input [(ngModel)]="filterEspacePoussetteRequired" type="checkbox" [ngModelOptions]="{standalone: true}" />
    <img class="iconeFiltreRecherche" src="/assets/strollerpark2.png"  alt="">
  </span >
  <span class="checkboxesFiltres">
 <input [(ngModel)]="filterEspaceJeuRequired" type="checkbox" [ngModelOptions]="{standalone: true}" />
  <img class="iconeFiltreRecherche" src="/assets/toy.png" alt="">
  </span>

  <span class="checkboxesFiltres">
<input [(ngModel)]="filterMenuEnfantRequired" type="checkbox" [ngModelOptions]="{standalone: true}" />
  <img class="iconeFiltreRecherche" src="/assets/meal2.PNG" alt="">
  </span>

  <span class="checkboxesFiltres">
<input [(ngModel)]="filterTableLangerRequired" type="checkbox" [ngModelOptions]="{standalone: true}" />
  <img class="iconeFiltreRecherche" src="/assets/tableLangerFemme.png" alt="">
  </span>
  <span class="checkboxesFiltres">

  </span>

  <span class="checkboxesFiltres">
<input [(ngModel)]="filterTableLangerMenRequired" type="checkbox" [ngModelOptions]="{standalone: true}" />
  <img class="iconeFiltreRecherche" src="/assets/tableLangerHomme.png" alt="">
  </span>

  <span class="checkboxesFiltres">
         <input [(ngModel)]="filterChaiseHauteRequired" type="checkbox" [ngModelOptions]="{standalone: true}" />
  <img class="iconeFiltreRecherche" src="/assets/highchair.png" alt="">
  </span>
  <input [(ngModel)]="filterWcEnfantRequired" type="checkbox" [ngModelOptions]="{standalone: true}" />
  <img class="iconeFiltreRecherche" src="/assets/wcEnfant.png" alt="">
  <span class="checkboxesFiltres">

  </span>

  <button class="btn btn-secondary" (click)="filtrer()">Filtrer</button>
  <button class="btn btn-secondary" *ngIf="filtersAreOn" (click)="viderFiltres()">Réinitialiser filtres</button>
</form>

<div class="boutonsFiltresSearchEngine"  *ngIf="!isComputing && !zeroResults">
  <button class="btn btn-secondary" *ngIf="!displayBBNotFriendly" (click)="afficherMauvaisEleves()">Voir les endroits non compatibles avec bébé.</button>
  <button class="btn btn-secondary"*ngIf="!displayStatusUnknown" (click)="modeRecensement()">Pour nous aider à recenser les environs</button>
  <button class="btn btn-secondary"*ngIf="!displayBBFriendly" (click)="retourResultats()">Retour aux resultats.</button>
</div>

<app-venue-list *ngIf="!isComputing" [venuesBBFriendly]="mesiVenuesBBFriendlyFiltered" [venuesBBNotFriendly]="mesiVenuesBBNotFriendly" [venuesUnknownStatus]="mesiVenuesUnknownStatus" [displayBBFriendly]="displayBBFriendly" [displayBBNotFriendly]="displayBBNotFriendly"
    [displayUnknownStatus]="displayStatusUnknown">
</app-venue-list>
