.navbar {
    border: 5px solid white;
    border-radius: 10px;
    color: #11808C;
    display: flex;
    flex-direction: column;
    padding: 1%;
}

#duoBoutons {
    display: flex;
    flex-direction: row;
    align-self: right;
}

a {
    display: flex;
    flex-direction: row;
}

.btn {
    border: none;
    background-color: none;
}