.navbar{
    border:5px solid white;
    border-radius:10px;
    color:#11808C;
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    padding: 1%;
}
#duoBoutons{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    width:100%;
    font-size:0.75rem;
}
#blocBebeBabeezy{
    display:flex;
    flex-direction: row;
}

.btn-secondary{
    border:none;
    background-color:none;
    margin:2px;
}
#bebeAccueil{
    width:50px;
    height:60px;
}
h1 {
    vertical-align: center;
}

@media(min-width:1200px){
    body{font: size 3em;}
}

@media(max-width:576px){
   body{font: size 1vw;}
}