<div style="text-align:center" class="container">

   <nav class="navbar navbar-dark sticky-top bg-dark">
	   <a class="navbar-brand"><img src="/assets/bossBB.png" width="30" height="30" class="d-inline-block align-top" alt=""><span style="color:white">BaBy-Friendly Finder</span></a>
          <form class="form-inline">
		  <input class="form-control mr-sm-2" type="search" placeholder="Entrez une ville ou une addresse" aria-label="Search" [(ngModel)]="inputLocation" [ngModelOptions]="{standalone: true}" />
		    <button *ngIf="isComputing == false" class="btn btn-secondary my-2 my-sm-0" type="submit" (click)="inputRecherche()">Chercher!</button>
			</form>

	        <label>Espace poussette ?</label>
	        <input [(ngModel)]="mesiVenuesFilter.hasEspacePoussette" type="checkbox" />
	        <label>Espace jeu ?</label>
	        <input [(ngModel)]="mesiVenuesFilter.hasEspaceJeu" type="checkbox" />
	        <label>Menu enfant ?</label>
	        <input [(ngModel)]="mesiVenuesFilter.hasMenuEnfant" type="checkbox" />
	        <label>Table à langer ?</label>
	        <input [(ngModel)]="mesiVenuesFilter.hasTableLanger" type="checkbox" />
	        <label>Table à langer accessible aux hommes ?</label>
	        <input [(ngModel)]="mesiVenuesFilter.hasTableLangerMen" type="checkbox" />
   </nav>

	<div *ngIf="welcomeScreen" class="jumbotron jumbotron-fluid">
	  <div class="container">
	    <h3 class="display-7">Baby-Friendly Bistrots</h3>
		<img src="assets/welcome.jpg" class="img-fluid img-thumbnail"/>		
	    <p class="lead"><small><i>Because you don't leave baby in a corner.</i></small></p>
	  </div>
	</div>

    <app-venue-map *ngIf="!welcomeScreen && !isComputing" [lat]="welcomeLatitude" [lng]="welcomeLongitude" [zoomLevel]="welcomeZoomLevel" [venues]="mesiVenues">
    </app-venue-map>


    <img *ngIf="isComputing" src="assets/computing.gif" alt="computing..." />

    <app-venue-list *ngIf="requestHasKnownVenues; else NoResult" [venues]="mesiVenues"></app-venue-list>
    <ng-template #NoResult>
        <p id="no-result">Oups ... aucun résultat. Pas très bébé-friendly par ici ...</p>
    </ng-template>

</div>
