<div style="text-align:center" class="container-fluid" xmlns:margin="http://www.w3.org/1999/xhtml"
     xmlns:padding="http://www.w3.org/1999/xhtml" xmlns:padding-right="http://www.w3.org/1999/xhtml">

  <nav class="navbar navbar-dark sticky-top">

    <a class="navbar-brand">
      <span style="color:gray">
        <img src="/assets/baby_logo.png"width="50" height="50"  alt="">
        <h1 style="color:#11808C">BaBeezy Travel</h1>

      </span></a> <!--class="d-inline-block align-top"-->
    <form id="Recherche" class="form-inline">
      <input id="barreRechercheLieu" class="form-control mr-sm-2" type="search" placeholder="Entrez une ville ou une addresse" aria-label="Search" [(ngModel)]="inputLocation" [ngModelOptions]="{standalone: true}" />
      <span class="d-none d-md-inline">
        <button *ngIf="isComputing == false" class="btn btn-secondary my-2 my-sm-0" type="submit" (click)="inputRecherche()">Chercher</button>
        <button *ngIf="!welcomeScreen && !isComputing && !recensementMode" class="btn btn-secondary" (click)="modeRecensementOn()">Aidez-nous !</button>
        <button *ngIf="!welcomeScreen && !isComputing && recensementMode" class="btn btn-secondary" (click)="modeRecensementOff()">Retour résultats.</button>
        </span>
    </form>

    <form id="filters" class="d-none d-md-inline">
      <span id="labelRecherche">
        <label> Filtrez selon vos besoins : </label>
        <!--<p>Survolez pour plus d'informations</p> -->
      </span>
      <span id="block_checkboxes_icones_filtres">
        <span class="checkboxesFiltres" padding-right:5px>
            <input [(ngModel)]="mesiVenuesFilter.EspacePoussetteRequired" type="checkbox" [ngModelOptions]="{standalone: true}" />
            <img class="iconeFiltreRecherche" src="/assets/strollerpark2.png"  alt="">
          <!-- <label>Espace poussette</label> -->
          </span>

      <span class="checkboxesFiltres">
             <input [(ngModel)]="mesiVenuesFilter.EspaceJeuRequired" type="checkbox" [ngModelOptions]="{standalone: true}" />
        <img class="iconeFiltreRecherche" src="/assets/toy.png" alt="">
        <!-- <label>Espace jeu</label> -->
        </span>
      <span class="checkboxesFiltres">
           <input [(ngModel)]="mesiVenuesFilter.MenuEnfantRequired" type="checkbox" [ngModelOptions]="{standalone: true}" />
        <img class="iconeFiltreRecherche" src="/assets/meal2.PNG" alt="">
        <!-- <label>Menu enfant</label>-->
         </span>
      <span class="checkboxesFiltres">
            <input [(ngModel)]="mesiVenuesFilter.TableLangerRequired" type="checkbox" [ngModelOptions]="{standalone: true}" />
          <img class="iconeFiltreRecherche" src="/assets/tableLangerFemme.png" alt="">
        <!-- <label>Table à langer</label> -->
          </span>
      <span class="checkboxesFiltres">
            <input [(ngModel)]="mesiVenuesFilter.MenTableLangerRequired" type="checkbox" [ngModelOptions]="{standalone: true}" />
          <img class="iconeFiltreRecherche" src="/assets/tableLangerHomme.png" alt="">
        <!--<label>Table à langer accessible aux hommes</label>-->
          </span>
      <span class="checkboxesFiltres">
          <input [(ngModel)]="mesiVenuesFilter.ChaiseHauteRequired" type="checkbox" [ngModelOptions]="{standalone: true}" />
        <img class="iconeFiltreRecherche" src="/assets/highchair.png" alt="">
        <!--<label>Chaise Haute</label> -->
          </span>
      <span class="checkboxesFiltres">
          <input [(ngModel)]="mesiVenuesFilter.WcEnfantRequired" type="checkbox" [ngModelOptions]="{standalone: true}" />
        <img class="iconeFiltreRecherche" src="/assets/wcEnfant.png" alt="">
        <!--<label>WC Enfant</label><br /> -->
      </span>

      </span>



    </form>

    <span class="d-inline d-md-none">
        <button *ngIf="!isComputing" class="btn btn-secondary my-2 my-sm-0" type="submit" (click)="inputRecherche()">Chercher</button>
        <button *ngIf="!welcomeScreen && !isComputing && !recensementMode" class="btn btn-secondary" (click)="modeRecensementOn()">Aidez-nous</button>
        <button *ngIf="!welcomeScreen && !isComputing && recensementMode" class="btn btn-secondary" (click)="modeRecensementOff()">Retour résultats.</button>
        </span>
  </nav>

  <div *ngIf="welcomeScreen" class="jumbotron jumbotron-fluid">
    <div class="container">
      <h3 id="catchPhrase" class="display-7">BaBeezy Travel, l'appli qui permet d'alléger votre sac à langer. </h3>
      <!--<h3  class="display"><small><i>Sortez l'esprit léger (et le sac à langer plein à craquer).</i></small></h3>-->
      <img id="welcome"src="assets/welcome.jpeg" class="img-fluid img-thumbnail"/>

    </div>
  </div>

  <div class="jumbotron jumbotron-fluid" *ngIf="isComputing"><img id="loadingGif" class="display-6" src="assets/loading.gif" alt="computing..." /></div>

  <app-venue-map *ngIf="!welcomeScreen && !isComputing"
                 [venuesBBFriendly]="mesiVenuesBBFriendlyFiltered"
                 [venuesBBNotFriendly]="mesiVenuesBBNotFriendly"
                 [venuesUnknownStatus]="mesiVenuesUnknownStatus" 
                 [displayBBFriendly]="displayBBFriendly"
                 [displayBBNotFriendly]="displayBBNotFriendly"
                 [displayUnknownStatus]="displayUnknownStatus">
  </app-venue-map>

  <app-venue-list *ngIf="!welcomeScreen && !isComputing"
                  [venuesBBFriendly]="mesiVenuesBBFriendlyFiltered"
                  [venuesBBNotFriendly]="mesiVenuesBBNotFriendly"
                  [venuesUnknownStatus]="mesiVenuesUnknownStatus"
                  [displayBBFriendly]="displayBBFriendly"
                  [displayBBNotFriendly]="displayBBNotFriendly"
                  [displayUnknownStatus]="displayUnknownStatus">
  </app-venue-list>

</div>
