<form *ngIf="!isPosting && !isPosted">
  <div class="form-group">
    <label for="name">Espace Poussette ?</label>
    <input [(ngModel)]="mesiVenue.espacePoussette" type="checkbox" class="form-control" id="hasEspacePoussette" name="hasEspacePoussette" required>
  </div>

  <div class="form-group">
    <label for="name">Espace Jeu ?</label>
    <input [(ngModel)]="mesiVenue.espaceJeu" type="checkbox" class="form-control" id="hasEspaceJeu" name="hasEspaceJeu" required>
  </div>

  <div class="form-group">
    <label for="name">Menu enfant ?</label>
    <input [(ngModel)]="mesiVenue.menuEnfant" type="checkbox" class="form-control" id="hasMenuEnfant" name="hasMenuEnfant" required>
  </div>

  <div class="form-group">
    <label for="name">Table à langer ?</label>
    <input [(ngModel)]="mesiVenue.tableLanger" type="checkbox" class="form-control" id="TableLangerRequired" name="TableLangerRequired" required>
  </div>

  <div class="form-group">
    <label for="name">Table à langer accessible aux hommes ?</label>
    <input [(ngModel)]="mesiVenue.tableLangerMen" type="checkbox" class="form-control" id="MenTableLangerRequired" name="MenTableLangerRequired" required>
  </div>

  <div class="form-group">
    <label for="name">Chaise Haute</label>
    <input [(ngModel)]="mesiVenue.chaiseHaute" type="checkbox" class="form-control" id="ChaiseHauteRequired" name="ChaiseHauteRequired" required>
  </div>

  <div class="form-group">
    <label for="name">WC Enfant</label>
    <input [(ngModel)]="mesiVenue.wcEnfant" type="checkbox" class="form-control" id="WcEnfantRequired" name="WcEnfantRequired" required>
  </div>

  <button (click)="submit()" type="submit" class="btn btn-success">Partagez !</button>

</form>

<div class="jumbotron jumbotron-fluid" *ngIf="isPosting"><img class="display-6" src="assets/computing.gif" alt="computing..." /></div>
<p *ngIf="isPosted">Venues mise à jour :)<br />Actualiser la page.</p>

