// on peut pas tester les display* comme dans la map car:
// - on ne peut faire un *ngIf et *ngFor sur le meme element
// - une col doit etre directement dans une row
// - on ne peut utiliser un ng-template car ça ne met pas à jour la condition
// => controle reporté dans le component

<h4>Venues BaBy-Friendly !</h4>
<div class="row">
        <app-mesi-venue *ngFor="let v of venuesBBFriendly" class="col-sm-1 col-md-4" [v]="v"></app-mesi-venue>
</div>


<h4>Venues Pas BaBy-Friendly !</h4>
<div class="row">
        <app-mesi-venue *ngFor="let v of venuesBBNotFriendly" class="col-sm-1 col-md-4" [v]="v"></app-mesi-venue>
</div>

<h4>Venues inconnues au bataillons !</h4>
<div class="row">
  <app-mesi-venue *ngFor="let v of venuesUnknownStatus" class="col-sm-1 col-md-4" [v]="v"></app-mesi-venue>
</div>

