/* You can add global styles to this file, and also import other style files */

.pac-container {
    z-index: 1021;
}

@font-face {
    font-family: "Champagne & Limousines";
    src: url(assets/Fonts/champagne_limousines/ChampagneLimousines.ttf) format("truetype");
}

@font-face {
    font-family: "Champagne & Limousines Bold";
    src: url(assets/Fonts/champagne_limousines/ChampagneLimousinesBold.ttf) format("truetype");
}